<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>338075788438-4to5j3fum2vufllls2hvv408n7bbn5o5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.338075788438-4to5j3fum2vufllls2hvv408n7bbn5o5</string>
	<key>API_KEY</key>
	<string>AIzaSyDIXXU8KHVVMCtsPCTQnV8pxfo7gJpHYko</string>
	<key>GCM_SENDER_ID</key>
	<string>338075788438</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.umeneri-yuuki.jibun-dictionary</string>
	<key>PROJECT_ID</key>
	<string>jibundictionaryfirebase</string>
	<key>STORAGE_BUCKET</key>
	<string>jibundictionaryfirebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:338075788438:ios:b562e7bc20b6e6ca</string>
	<key>DATABASE_URL</key>
	<string>https://jibundictionaryfirebase.firebaseio.com</string>
</dict>
</plist>
